@font-face {
  font-family: "iconfont"; /* Project id 2225171 */
  src: url('iconfont.woff2?t=1647687441845') format('woff2'),
       url('iconfont.woff?t=1647687441845') format('woff'),
       url('iconfont.ttf?t=1647687441845') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.upicon-arrow-left:before {
  content: "\e60e";
}

.upicon-arrow-right:before {
  content: "\e605";
}

.upicon-arrow-down:before {
  content: "\e60d";
}

.upicon-arrow-up:before {
  content: "\e606";
}

.upicon-arrow-leftward:before {
  content: "\e601";
}

.upicon-arrow-rightward:before {
  content: "\e603";
}

.upicon-arrow-upward:before {
  content: "\e607";
}

.upicon-arrow-downward:before {
  content: "\e604";
}

.upicon-error-circle-fill:before {
  content: "\e62c";
}

.upicon-error-circle:before {
  content: "\e624";
}

.upicon-twitter:before {
  content: "\e6aa";
}

.upicon-twitter-circle-fill:before {
  content: "\e6ab";
}

.upicon-download:before {
  content: "\e63c";
}

.upicon-checkbox-mark:before {
  content: "\e807";
}

.upicon-mic-off:before {
  content: "\e649";
}

.upicon-mic:before {
  content: "\e64a";
}

.upicon-column-line:before {
  content: "\e68e";
}

.upicon-pause:before {
  content: "\e8fa";
}

.upicon-chat-fill:before {
  content: "\e61e";
}

.upicon-chat:before {
  content: "\e620";
}

.upicon-star-fill:before {
  content: "\e669";
}

.upicon-star:before {
  content: "\e65f";
}

.upicon-phone-fill:before {
  content: "\e64f";
}

.upicon-phone:before {
  content: "\e622";
}

.upicon-map-fill:before {
  content: "\e64e";
}

.upicon-map:before {
  content: "\e61d";
}

.upicon-tags-fill:before {
  content: "\e651";
}

.upicon-tags:before {
  content: "\e629";
}

.upicon-bookmark-fill:before {
  content: "\e63b";
}

.upicon-bookmark:before {
  content: "\e60a";
}

.upicon-calendar-fill:before {
  content: "\e634";
}

.upicon-calendar:before {
  content: "\e66e";
}

.upicon-trash-fill:before {
  content: "\e658";
}

.upicon-trash:before {
  content: "\e623";
}

.upicon-checkmark-circle:before {
  content: "\e63d";
}

.upicon-checkmark-circle-fill:before {
  content: "\e635";
}

.upicon-close-circle-fill:before {
  content: "\e637";
}

.upicon-close-circle:before {
  content: "\e63f";
}

.upicon-share:before {
  content: "\e631";
}

.upicon-share-fill:before {
  content: "\e65e";
}

.upicon-edit-pen:before {
  content: "\e612";
}

.upicon-edit-pen-fill:before {
  content: "\e66b";
}

.upicon-clock-fill:before {
  content: "\e638";
}

.upicon-clock:before {
  content: "\e60f";
}

.upicon-facebook-circle-fill:before {
  content: "\e68a";
}

.upicon-facebook:before {
  content: "\e689";
}

.upicon-eye-off:before {
  content: "\e648";
}

.upicon-eye-off-outline:before {
  content: "\e62b";
}

.upicon-eye-fill:before {
  content: "\e641";
}

.upicon-eye:before {
  content: "\e613";
}

.upicon-arrow-down-fill:before {
  content: "\e600";
}

.upicon-arrow-up-fill:before {
  content: "\e6b0";
}

.upicon-play-left-fill:before {
  content: "\e675";
}

.upicon-play-right-fill:before {
  content: "\e676";
}

.upicon-play-left:before {
  content: "\e66d";
}

.upicon-play-right:before {
  content: "\e610";
}

.upicon-photo-fill:before {
  content: "\e98b";
}

.upicon-photo:before {
  content: "\e98d";
}

.upicon-volume-off-fill:before {
  content: "\e659";
}

.upicon-volume-off:before {
  content: "\e644";
}

.upicon-volume-fill:before {
  content: "\e670";
}

.upicon-volume:before {
  content: "\e633";
}

.upicon-red-packet-fill:before {
  content: "\e690";
}

.upicon-red-packet:before {
  content: "\e691";
}

.upicon-man-delete:before {
  content: "\e61a";
}

.upicon-person-delete-fill:before {
  content: "\e66a";
}

.upicon-man-add:before {
  content: "\e61c";
}

.upicon-man-add-fill:before {
  content: "\e64c";
}

.upicon-info-circle-fill:before {
  content: "\e64b";
}

.upicon-info-circle:before {
  content: "\e7d2";
}

.upicon-level:before {
  content: "\e693";
}

.upicon-folder:before {
  content: "\e7f5";
}

.upicon-movie:before {
  content: "\e7f6";
}

.upicon-apple-fill:before {
  content: "\e881";
}

.upicon-chrome-circle-fill:before {
  content: "\e885";
}

.upicon-backspace:before {
  content: "\e67b";
}

.upicon-attach:before {
  content: "\e632";
}

.upicon-cut:before {
  content: "\e948";
}

.upicon-empty-car:before {
  content: "\e602";
}

.upicon-empty-coupon:before {
  content: "\e682";
}

.upicon-empty-address:before {
  content: "\e646";
}

.upicon-empty-favor:before {
  content: "\e67c";
}

.upicon-empty-permission:before {
  content: "\e686";
}

.upicon-empty-news:before {
  content: "\e687";
}

.upicon-empty-search:before {
  content: "\e664";
}

.upicon-github-circle-fill:before {
  content: "\e887";
}

.upicon-rmb:before {
  content: "\e608";
}

.upicon-reload:before {
  content: "\e788";
}

.upicon-order:before {
  content: "\e68f";
}

.upicon-server-man:before {
  content: "\e6bc";
}

.upicon-search:before {
  content: "\e62a";
}

.upicon-fingerprint:before {
  content: "\e955";
}

.upicon-more-dot-fill:before {
  content: "\e630";
}

.upicon-scan:before {
  content: "\e662";
}

.upicon-share-square:before {
  content: "\e60b";
}

.upicon-minus:before {
  content: "\e618";
}

.upicon-plus:before {
  content: "\e62d";
}

.upicon-info:before {
  content: "\e653";
}

.upicon-question:before {
  content: "\e715";
}

.upicon-error:before {
  content: "\e6d3";
}

.upicon-close:before {
  content: "\e685";
}

.upicon-checkmark:before {
  content: "\e6a8";
}

.upicon-android-circle-fill:before {
  content: "\e67e";
}

.upicon-android-fill:before {
  content: "\e67d";
}

.upicon-ie:before {
  content: "\e87b";
}

.upicon-IE-circle-fill:before {
  content: "\e889";
}

.upicon-google:before {
  content: "\e87a";
}

.upicon-google-circle-fill:before {
  content: "\e88a";
}

.upicon-setting-fill:before {
  content: "\e872";
}

.upicon-setting:before {
  content: "\e61f";
}

.upicon-minus-square-fill:before {
  content: "\e855";
}

.upicon-plus-square-fill:before {
  content: "\e856";
}

.upicon-heart:before {
  content: "\e7df";
}

.upicon-heart-fill:before {
  content: "\e851";
}

.upicon-camera:before {
  content: "\e7d7";
}

.upicon-camera-fill:before {
  content: "\e870";
}

.upicon-more-circle:before {
  content: "\e63e";
}

.upicon-more-circle-fill:before {
  content: "\e645";
}

.upicon-bag-fill:before {
  content: "\e617";
}

.upicon-bag:before {
  content: "\e619";
}

.upicon-question-circle-fill:before {
  content: "\e666";
}

.upicon-question-circle:before {
  content: "\e625";
}

.upicon-shopping-cart:before {
  content: "\e621";
}

.upicon-shopping-cart-fill:before {
  content: "\e65d";
}

.upicon-bell:before {
  content: "\e609";
}

.upicon-bell-fill:before {
  content: "\e640";
}

.upicon-list:before {
  content: "\e650";
}

.upicon-list-dot:before {
  content: "\e616";
}

.upicon-zhihu:before {
  content: "\e6ba";
}

.upicon-zhihu-circle-fill:before {
  content: "\e709";
}

.upicon-zhifubao:before {
  content: "\e6b9";
}

.upicon-zhifubao-circle-fill:before {
  content: "\e6b8";
}

.upicon-weixin-circle-fill:before {
  content: "\e6b1";
}

.upicon-weixin-fill:before {
  content: "\e6b2";
}

.upicon-taobao-circle-fill:before {
  content: "\e6a7";
}

.upicon-taobao:before {
  content: "\e6a6";
}

.upicon-weibo-circle-fill:before {
  content: "\e6a5";
}

.upicon-weibo:before {
  content: "\e6a4";
}

.upicon-qq-fill:before {
  content: "\e6a1";
}

.upicon-qq-circle-fill:before {
  content: "\e6a0";
}

.upicon-moments-circel-fill:before {
  content: "\e69a";
}

.upicon-moments:before {
  content: "\e69b";
}

.upicon-qzone:before {
  content: "\e695";
}

.upicon-qzone-circle-fill:before {
  content: "\e696";
}

.upicon-baidu-circle-fill:before {
  content: "\e680";
}

.upicon-baidu:before {
  content: "\e681";
}

.upicon-car:before {
  content: "\e60c";
}

.upicon-car-fill:before {
  content: "\e636";
}

.upicon-warning-fill:before {
  content: "\e64d";
}

.upicon-warning:before {
  content: "\e694";
}

.upicon-email:before {
  content: "\e611";
}

.upicon-email-fill:before {
  content: "\e642";
}

.upicon-minus-circle:before {
  content: "\e61b";
}

.upicon-minus-circle-fill:before {
  content: "\e652";
}

.upicon-plus-circle:before {
  content: "\e62e";
}

.upicon-plus-circle-fill:before {
  content: "\e661";
}

.upicon-file-text:before {
  content: "\e663";
}

.upicon-file-text-fill:before {
  content: "\e665";
}

.upicon-pushpin:before {
  content: "\e7e3";
}

.upicon-pushpin-fill:before {
  content: "\e86e";
}

.upicon-grid:before {
  content: "\e673";
}

.upicon-grid-fill:before {
  content: "\e678";
}

.upicon-play-circle:before {
  content: "\e647";
}

.upicon-play-circle-fill:before {
  content: "\e655";
}

.upicon-pause-circle-fill:before {
  content: "\e654";
}

.upicon-pause-circle:before {
  content: "\e643";
}

.upicon-gift-fill:before {
  content: "\e65c";
}

.upicon-gift:before {
  content: "\e65b";
}

.upicon-rmb-circle-fill:before {
  content: "\e657";
}

.upicon-rmb-circle:before {
  content: "\e677";
}

.upicon-kefu-ermai:before {
  content: "\e656";
}

.upicon-server-fill:before {
  content: "\e751";
}

.upicon-coupon-fill:before {
  content: "\e8c4";
}

.upicon-coupon:before {
  content: "\e8ae";
}

.upicon-integral:before {
  content: "\e704";
}

.upicon-integral-fill:before {
  content: "\e703";
}

.upicon-home-fill:before {
  content: "\e964";
}

.upicon-home:before {
  content: "\e965";
}

.upicon-hourglass-half-fill:before {
  content: "\e966";
}

.upicon-hourglass:before {
  content: "\e967";
}

.upicon-account:before {
  content: "\e628";
}

.upicon-plus-people-fill:before {
  content: "\e626";
}

.upicon-minus-people-fill:before {
  content: "\e615";
}

.upicon-account-fill:before {
  content: "\e614";
}

.upicon-thumb-down-fill:before {
  content: "\e726";
}

.upicon-thumb-down:before {
  content: "\e727";
}

.upicon-thumb-up:before {
  content: "\e733";
}

.upicon-thumb-up-fill:before {
  content: "\e72f";
}

.upicon-lock-fill:before {
  content: "\e979";
}

.upicon-lock-open:before {
  content: "\e973";
}

.upicon-lock-opened-fill:before {
  content: "\e974";
}

.upicon-lock:before {
  content: "\e97a";
}

.upicon-rewind-left-fill:before {
  content: "\e679";
}

.upicon-rewind-right-fill:before {
  content: "\e67a";
}

.upicon-skip-back-left:before {
  content: "\e674";
}

.upicon-skip-forward-right:before {
  content: "\e672";
}

.upicon-rewind-right:before {
  content: "\e66f";
}

.upicon-rewind-left:before {
  content: "\e671";
}

.upicon-arrow-right-double:before {
  content: "\e68d";
}

.upicon-arrow-left-double:before {
  content: "\e68c";
}

.upicon-wifi-off:before {
  content: "\e668";
}

.upicon-wifi:before {
  content: "\e667";
}

.upicon-empty-data:before {
  content: "\e62f";
}

.upicon-empty-history:before {
  content: "\e684";
}

.upicon-empty-list:before {
  content: "\e68b";
}

.upicon-empty-page:before {
  content: "\e627";
}

.upicon-empty-order:before {
  content: "\e639";
}

.upicon-man:before {
  content: "\e697";
}

.upicon-woman:before {
  content: "\e69c";
}

.upicon-zh:before {
  content: "\e70a";
}

.upicon-en:before {
  content: "\e692";
}

