:root,
page,
body {
	--up-subsection-bg-color: #eeeeef;
	--up-subsection-bar-color: #ffffff;
	--up-subsection-inactive-color: #303133;
	--up-subsection-disabled-text-color: #c8c9cc;
	--up-subsection-disabled-border-color: #d4d4d4;
	--up-subsection-disabled-bar-color: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
	:root,
	page,
	body {
		--up-subsection-bg-color: #2b2c30;
		--up-subsection-bar-color: #3a3b40;
		--up-subsection-inactive-color: #d1d5db;
		--up-subsection-disabled-text-color: #6b7280;
		--up-subsection-disabled-border-color: #3a3a3c;
		--up-subsection-disabled-bar-color: #3a3a3c;
	}
}

[data-up-theme='light'] {
	--up-subsection-bg-color: #eeeeef;
	--up-subsection-bar-color: #ffffff;
	--up-subsection-inactive-color: #303133;
	--up-subsection-disabled-text-color: #c8c9cc;
	--up-subsection-disabled-border-color: #d4d4d4;
	--up-subsection-disabled-bar-color: #f5f5f5;
}

[data-up-theme='dark'] {
	--up-subsection-bg-color: #2b2c30;
	--up-subsection-bar-color: #3a3b40;
	--up-subsection-inactive-color: #d1d5db;
	--up-subsection-disabled-text-color: #6b7280;
	--up-subsection-disabled-border-color: #3a3a3c;
	--up-subsection-disabled-bar-color: #3a3a3c;
}
